@import '@/app/variables.scss';

.title {
  font-size: 22vw;
  margin: 0;
  letter-spacing: 12px;

  @media screen and (min-width: $max-width){
    font-size: 30rem;
  }
}

.heroes {
  width: 65vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 40%;

  @media screen and (min-width: $max-width) {
    top: 55%;
  }
}

.imageContainer {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
  }

  &.height-616{
    height: $height-616;
  } 
  &.height-65{
    height: $height-65;
  } 
  &.height-1610{
    height: $height-1610;
  } 
  &.height-14512{
    height: $height-14512;
  } 
  &.height-8311{
    height: $height-8311;
  } 
  &.height-90214{
    height: $height-90214;
  } 
  &.height-928{
    height: $height-928;
  } 
}