$max-width: 1920px;
$text-color: #fff;
$background: linear-gradient(#0069E3, #0056BA);

$height-616: 360px;
$height-65: 300px;
$height-1610: 324px;
$height-14512: 246px;
$height-8311: 146px;
$height-90214: 376px;
$height-928: 360px;
